footer {
    height: 60px;
    background-color: var(--dark-blue);
    align-self: end;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}